INPUT[type="text"] {
	text-align: center;
	font-size: 16px;
	font-family: Arial;
	height: 30px;
	width: 30px;
}

#text {
	font-family: Arial;
	width: 550px;
	height: 240px;
	font-size: 18px;
	margin-left: 600px;
	margin-top: -275px;
}

h1 {
	font-family: Times New Roman;
	text-align: center;
	margin-bottom:-10px;
}

 #myCros {
	padding: 30px;
	width: 650px;
	height: 250px;
 }

#check {
 	width: 350px;
 	height: 30px;
 	margin-top: 100px;
 	margin-left: 100px;
}

body {
	//background-size:contain;
	background-image:  url(images.jpg);
}

#all {
	margin: 0;
	position: relative;
	top:25%;
	left: 20%;
	width:75em;
	height:512px;
	background-color: white; 
}

#a3, #b2, #c4, #d9, #e8, #j3, #k4, #l2 {
	background-color: red;
}

#word1, #word6 {
	margin-left: 180px;
}

#word2, #word8 {
	margin-left: 210px;
}

#word3, #word7 {
	margin-left: 150px;
}

#word5 {
	margin-left: 30px;
}

@media (max-width: 1300px) {

	#all{
		margin: 0;
		position: relative;
		top:35%;
		left:1%;
		width:75em;
		height:500px;
		background-color: white; 
	}
}

@media (min-width:1360px) and (max-width: 1400px) {

	#all{
		margin: 0;
		position: relative;
		top:25%;
		left:6%;
		width:75em;
		height:500px;
		background-color: white; 
	}
}
